<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="{% url 'get_contact' %}">
        <input type="text" name="name">
        <input type="text" name="phone">
        <input type="text" name="email">
        <input type="submit" value="Отправить">
    </form>
    <p>Авторизация приложения:</p>
    <script
      class="amocrm_oauth"
      charset="utf-8"
      data-client-id="f22cb9c9-ba98-4571-9995-c7cb8d166324"
      data-title="Установить интеграцию"
      data-compact="false"
      data-class-name="className"
      data-color="default"
      data-state="state"
      data-error-callback="functionName"
      data-mode="popup"
      src="https://www.amocrm.ru/auth/button.min.js">
    </script>
</body>
</html>